
h1
{
    font-size: 40px;
    color: #fd0101;
    text-align: center;
    
    
}
h4
{
    
        text-align: center;
}

div{
    align-self: center;
}
body{
    background-color: white;
}
button{
    amrgin-left: 100px;
}
button{
    text-align: center:
}
